{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {hello_tcp, "0.1.0"},
         [hello_tcp]},
        {dev_mode, false},
        {include_erts, false}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
        {include_erts, false}]}]}]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [hello_tcp]}
]}.
